<?xml version="1.0"?>
<launch>
  
   <!--Launch a map from the maps folder-->
  <!--<arg name="map" default="$(find f1tenth_gym_ros)/maps/skirk.yaml"/>-->
  <!--<arg name="map" default="$(find f1tenth_gym_ros)/maps/unreal.yaml"/>-->
  <arg name="map" default="$(find f1tenth_gym_ros)/maps/berlin.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch robot model -->
  <include file="$(find f1tenth_gym_ros)/launch/racecar_model.launch"/>

  <!-- Launch gym bridge node -->
  <rosparam command="load" file="$(find f1tenth_gym_ros)/params.yaml"/>
  <node pkg="f1tenth_gym_ros" name="gym_bridge" type="gym_bridge.py" output="screen"/>

  <!-- Launch the disparity extender nodes-->
  <node pkg="f1tenth_gym_ros" name="disparity_extender_ego" type="disparity_extender.py" args="scan drive_cmda ego_racecar/laser" output="screen"/>
  <!--<node pkg="f1tenth_gym_ros" name="disparity_extender_opp" type="disparity_extender.py" args="opp_scan opp_drive_cmd opp_racecar/laser" output="screen"/>-->


  <!--launch the pure pursuit nodes-->
  <node pkg="f1tenth_gym_ros" name="pure_pursuit_opp" type="pure_pursuit.py" args="berlin_309.csv  opp_drive opp_odom" output="screen"/>
  <node pkg="f1tenth_gym_ros" name="pure_pursuit_ego" type="pure_pursuit.py" args="berlin_309.csv  drive_cmd odom" output="screen"/>


  <!--Launch the safety nodes
  <node pkg="f1tenth_gym_ros" name="safety_node_ego" type="safety_node.py" args="scan odom brake_bool" output="screen"/>
  <node pkg="f1tenth_gym_ros" name="safety_node_opp" type="safety_node.py" args="opp_scan opp_odom brake_bool_opp" output="screen"/>-->


  <!--Launch the decision managers for each node-->
  <!--<node pkg="f1tenth_gym_ros" name="decision_manager_ego" type="safety_decision_manager.py" args="brake_bool drive_cmd drive" output="screen"/>
  <node pkg="f1tenth_gym_ros" name="decision_manager_opp" type="safety_decision_manager.py" args="brake_bool_opp opp_drive_cmd opp_drive" output="screen"/>-->

  <node pkg="f1tenth_gym_ros" name="hybrid_pp" type="hybrid_pure_pursuit.py" args="drive_cmda drive_cmd opp_odom drive odom_goal_xy" output="screen"/>
  
</launch>
